In [1]:
#import libraries 
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [82]:

#dados de aprendizagem
url='https://github.com/Diegojfsr/RNA_Trabalho_Pratico_I/blob/main/train.csv?raw=true'
train = pd.read_csv(url)

# remove linhas contendo nan
#train.dropna(inplace=True)

# dados de teste
url='https://github.com/Diegojfsr/RNA_Trabalho_Pratico_I/blob/main/test.csv?raw=true'
test = pd.read_csv(url)

# Dados de envio
url='https://github.com/Diegojfsr/RNA_Trabalho_Pratico_I/blob/main/sample_submission.csv?raw=true'
sample_submission = pd.read_csv(url)

In [ ]:
display(train) # Exibe o Dataframe

In [ ]:
print(train.info()) # Exibe Informações do Dataframe

In [ ]:
### Descobrir se tem valores vazios e a quantidade deles em cada coluna

#print(train.isna().any()) # Exibe como True ou False os valores do Dataframe
print(train.isna().sum()) # Exibe a soma dos valores no Dataframe

In [ ]:
############## Tratando variaveis categoricas  ##############

#OneHotEncoding

!pip install category_encoders

In [4]:
import category_encoders as ce
from category_encoders.one_hot import OneHotEncoder, OrdinalEncoder

In [ ]:
train.head()
#train.info(verbose=True)

In [83]:
#### Criado um Dataframe com as colunas que seram usadas   
####  Deletendo as colunas  "PassengerId","Name","Transported"  pois nao serao uteis

#dfTrain = train["HomePlanet","CryoSleep", "Cabin","Destination","Age","VIP","RoomService","FoodCourt","ShoppingMall","Spa","VRDeck","Transported"]
dfTrain = train.drop(["PassengerId","Name"], axis = 1)

In [85]:
# Converte os valores False e True da Coluna Transported para 0 e 1

dfTrain.replace({False: 0, True: 1}, inplace=True)

In [ ]:
dfTrain.head()
#train.info(verbose=True)

In [86]:
# Converte as demais Colunas para dados Numericos e armazena os valores na variavel OrderEnc
 # A variavel OrderEnc recebe os dados convertidos de Destination // Converte a coluna Destination

OderEnc = OrdinalEncoder(cols =['HomePlanet','CryoSleep','Cabin','Destination','Age','VIP','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck'])

In [87]:
# Faz a junção da coluna convertida com as demais do Dataframe //mas descarta a conversao anterior

OderEncFit = OderEnc.fit_transform(dfTrain)

In [ ]:
##### Verificando os valores e colunas #####

#print(OderEncFit.isna().any()) # Exibe como True ou False os valores nan do Dataframe
#print(OderEncFit.isna().sum()) # Exibe a soma dos valores nan no Dataframe
OderEncFit.head()
#OderEncFit.info(verbose=True)
#print(OderEncFit.info())
#OderEncFit.shape
#OderEncFit.isna().sum()
#OderEncFit.isnull().sum()

In [88]:
X = OderEncFit.drop(["Transported",] , axis = 1)
Y = OderEncFit["Transported"]

In [11]:
X.shape

(8693, 11)

In [89]:
########## Treinando a Rede ##########

#https://keras.io/api/  (Keras Documentation)

import tensorflow as tf 
import keras 
from keras.models import Sequential      #Sequencia entre as camadas: Entrada - Oculta - Saida
from keras.layers import Dense, Dropout  #Iremos utilizar camadas densa na rede neural (full-connection)

In [90]:
#criar a rede neural sequencial 
ann = Sequential()

#definir as camadas de entrada, oculta 
ann.add( Dense(units = 6, activation = 'relu', kernel_initializer = 'random_uniform', input_dim=11))  #primeira camada oculta (nr_neuronios_entradas + nr_neuronios_saida / 2) = (30+1 / 2 = 16);  
                                                                                                       #input_dim = 30  (número de neuronios da camada de entrada = features de X_train)
#definir a camada de saida
ann.add(Dense(units = 1, activation = 'sigmoid'))

#configurar parâmetros da rede 
ann.compile(optimizer = 'adam',             #optimizer -> calculo dos ajustes dos pesos (descida do gradiente), calculo do delta
            loss='binary_crossentropy',     #loss -> calculo ou tratamento do erro      (binary_crossentropy -> para problemas de classificação binária)
            metrics = ['binary_accuracy']   #metrics -> avaliar a metrica do modelo ->   accuracy para problema de classificação binária 
           )

In [91]:
#treinar a rede neural
ann.fit(X, Y, batch_size = 10, epochs = 50)

In [92]:
#Realizando o calculo do loss e da acuracia da rede 

result = ann.evaluate(X, Y)

272/272 [==============================] - 1s 2ms/step - loss: 0.5396 - binary_accuracy: 0.7434

In [ ]:
#Realizando as predições no conjunto de treino 

Ypred = ann.predict(X)  #calcula o valor 
Ypred

In [94]:
YpredBin = np.where(Ypred > 0.5, 1, 0)

In [104]:
resultado = pd.DataFrame()

In [ ]:
resultado["Y"] = Y
resultado["Ypred"] = Ypred          #valores preditos para o conjunto de treinamento 
resultado["YpredBin"] = YpredBin
resultado.reset_index(inplace = True, drop=True)
resultado

In [145]:
resultado

      Y     Ypred  YpredBin
0     0  0.634967         1
1     1  0.561045         1
2     0  0.585442         1
3     0  0.571981         1
4     1  0.475244         0
...  ..       ...       ...
8688  0  0.259504         0
8689  0  0.914636         1
8690  1  0.443824         0
8691  0  0.075506         0
8692  1  0.443824         0

[8693 rows x 3 columns]

In [ ]:
sample_submission

In [ ]:

submission2 = sample_submission.drop(["Transported"], axis = 1)
submission2.dropna(inplace=True)
submission2

In [158]:

submission3 = resultado.drop(["Y","Ypred"], axis = 1)
submission3.dropna(inplace=True)
submission3.replace({0: False, 1: True}, inplace=True) ### Converte os valores 0/1 em True/False
submission3

      YpredBin
0         True
1         True
2         True
3         True
4        False
...        ...
8688     False
8689      True
8690     False
8691     False
8692     False

[8693 rows x 1 columns]

In [159]:
# append method
# result = submission2.append(submission3)
# result

submission = pd.concat([submission2, submission3], axis=1, join='inner')
display(submission)

     PassengerId  YpredBin
0        0013_01      True
1        0018_01      True
2        0019_01      True
3        0021_01      True
4        0023_01     False
...          ...       ...
4272     9266_02     False
4273     9269_01      True
4274     9271_01     False
4275     9273_01     False
4276     9277_01     False

[4277 rows x 2 columns]

In [160]:
## Converte o Nome da Coluna YpredBin para Transported

submission = submission.rename(columns={'YpredBin': 'Transported'})

In [161]:
submission

     PassengerId  Transported
0        0013_01         True
1        0018_01         True
2        0019_01         True
3        0021_01         True
4        0023_01        False
...          ...          ...
4272     9266_02        False
4273     9269_01         True
4274     9271_01        False
4275     9273_01        False
4276     9277_01        False

[4277 rows x 2 columns]

In [162]:
#criar um arquivo csv de saída como submit.csv

submission.to_csv("submission.csv", index=False)
print('Submission_final.csv foi salvo!')

#submit_final.csv foi salvo!

submission_final.csv foi salvo!

In [ ]:
# Create submission file
# submission = pd.DataFrame({"PassengerId": submission2, "Transported": submission3})
# submission.head()

df = pd.DataFrame({'PassengerId': submission2, 'Transported': submission3}, index=[0])
df

### Segunda Opçao de Submission

In [ ]:
#criar um arquivo csv de saída como submit.csv
resultado.to_csv("submission.csv", index=False)
print('submission_final.csv foi salvo!')

#submit_final.csv foi salvo!

submission_final.csv foi salvo!

In [ ]:
####  Acuracia medida através da sklearn  ####
#acuracia medida através da sklearn 

from sklearn.metrics import confusion_matrix, accuracy_score

#matriz de confusão do treinamento 
mc_train = confusion_matrix(Y, YpredBin)
mc_train

In [ ]:
#To retrieve the accuracy da classificação:

accuracy_train = accuracy_score(Y, YpredBin)  #mede o score (acuracy) do modelo 
print('Acuracia do Treino:', accuracy_train)

In [ ]:
#Realizando as predições no conjunto de teste 

YpredTest = ann.predict(X)
YpredTest

In [ ]:
YpredTestBin = np.where(Ypred > 0.5, 1, 0)